<header class="fixed-top">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/"> 
      Shop
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-sort-down fa-2x"></i></a>
        </li>
    
      </ul>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn " type="submit"><i class="far fa-search"></i></button>
        
        <button class="btn" data-toggle="modal" data-target="#login"> 
          <i class="fas fa-user fa-2x"></i>
  
        </button>
        
        <button class="btn">
         
          <i class="fas fa-shopping-cart fa-2x "></i>

          <span class="position-absolute top-20  translate-middle badge rounded-pill bg-danger" style=" margin-top: 1%;">
            10+
            <span class="visually-hidden">unread messages</span>
          </span>


        </button>

        <button class="btn ">

          
          <i class="fad fa-phone-plus fa-1x"></i>
          +21651704365


        </button>

       
      </form>
     
    </div>
  </div>

  <div class="modal fade" id="login" data-backdrop="static" data-keyboard="false" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
</nav>




</header>