<app-sidebar  *ngIf="shwp"></app-sidebar>

<div class="container" style="position: relative;">

    <div class="row">
        <div class="card-columns" *ngIf="shwp">
            <div class="card" *ngFor="let item of products">
                <img [src]="item.url" class="img-fluid card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">{{item.price}}</p>
                    <p class="card-text"><small class="text-muted">{{item.description}}</small></p>
                </div>
                <div class="card-footer" >
                    <button class="btn btn-primary" (click)="Customize(item)" style="float: right;">I customize</button>
                </div>
              </div>



        </div>
    </div>
</div>

<br><br><br>
<app-editor [data]="data" *ngIf="!shwp"></app-editor>

